/*
* Description:变量定义文件
* Author:柯妙旋
* Update:
*/
// $l_fontsize:16px !default;
// $m_fontsize:14px !default;
// $s_fontsize:12px !default;
$color-danger: #F56C6C;
$color-info: #909399;
$color-success:#2DBC2D;
$color-warning:#FF8900;
$color-primary:#3B74FF;
// $bg-gray: #f6f6f6;
$border-color: #dfdfdf;
